*{
	margin: 0;
	padding: 0;
}

body{
	background-color:#f5f5f5;
	min-width: 1200px;
}

ul li{
	list-style: none;
}

em{
	font-style: normal;
	color:red;
}

a{
	text-decoration: none;
	color:white;
}

a:hover{
	text-decoration: none;
	color: white;
}

.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.person_info{
	height: 500px;
	position: relative;
	margin: 0 auto;
	background: #00a5bb;
	
}

.photo{
	width: 150px;
	height: 200px;
	position:absolute;
	left: 50%;
	top: 30px;
	margin-left: -75px;
}

.info{
	width: 150px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -75px;
	text-align: center;
	
}

.info .name{
	color: white;
	font-size: 48px;
	margin-bottom: 15px;
}

.info .position{
	color:rgba(255,255,255,0.8);
	font-size: 28px;
	font-weight: 300;
}

.person_info .left{
	float:left;
	width: 450px;
	font-size: 16px;
	margin-left: 70px;
	text-align: center;
}

.person_info .right{
	float: right;
	width: 450px;
	font-size: 16px;
	text-align: left;
	color: white;
	margin-right: 70px;
}

.left ul{
	margin-top: 50px;
}

.left ul li{
	color: white;
	margin-bottom: 50px;
}

.left li .outer{
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 20px;
	float: right;
	margin-right: 50px;
	background-color:white;
}

.left li .inner{
	display: inline-block;
	float: left;
	background-color:red;
}

.left li .shuxi{
	width: 140px;
	height: 20px;
}

.left li .liaojie{
	width: 100px;
	height: 20px;
}

.right p{
	margin-left: 100px;
	margin-top: 30px;
}

.contact_info{
	height: 100px;
	font-size: 16px;
	margin: 0 auto;
	color:white;
	text-align: center;
	line-height: 100px;
	background-color:#008fa1;
}

.contact_info ul{
	width: 550px;
	height: 100%;
	margin: 0 auto;
	
}

.contact_info ul li{
	float: left;
	width: 170px;
	height: 100px;
	margin-left: 10px;
}

.contact_info ul li span{
	margin-right:10px;
}

.type{
	margin: 0 auto;
	width: 100%;
	height: 50px;
	color: white;
	text-align: center;
	line-height: 50px;
	background-color:#007888;
}

.active{
	background-color:red;
}

.type ul{
	width: 640px;
	height: 100%;
	margin:0 auto;
}

.type ul li{
	float: left;
	width:150px;
	height: 50px;
	margin-left: 10px;
}

.type ul li:hover {
	background-color: red;
}

.qzyx{
	width: 1000px;
	background-color:#00a5bb;
	margin: 50px auto;


}

.qzyx p{
	color: white;
	text-align: center;
	padding-top: 70px;
	font-size: 20px;
}

.qzyx .qzyx_content{
	width: 800px;
	height: 400px;
	text-align: center;
	margin: 30px auto;
	
}

.qzyx_content .content{
	float: left;
	width: 30%;
	height: 100%;
	margin-top: 0;
	margin-left: 2.6%;
	/*background-color: blue;*/
	color:white;

}

.content .one{
	margin:  20% auto;
}

.content .one h2{
	font-size: 20px;
	display:inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color:#007888;
}

.content .one h2 span{
	line-height: 100px;
}

.content .one p{
	color: white;
}


.jybj{
	width: 1000px;
	background-color:#00a5bb;
	margin: 50px auto;


}

.jybj>p{
	color: white;
	text-align: center;
	padding-top: 70px;
	font-size: 20px;
}

.jybj .jybj_content{
	width: 800px;
	height: 400px;
	margin: 30px auto;
}

.jybj_content .content_two{
	width: 100%;
	height: 100%;
	text-align: center;
}


.content_two ul {
	padding-top: 80px;
}

.content_two ul li{
	float: left;
	color:white;
	font-size:20px;
	margin-left: 110px;
}


.content_two .course{
	width: 80%;
	color: white;
	margin: 100px auto;
	text-align:center;
	font-size: 16px;
}

.xmjl{
	width: 1000px;
	margin:50px auto;
	background-color:#00a5bb;
}

.xmjl>p{
	color: white;
	text-align: center;
	padding-top: 70px;
	font-size: 20px;
}

.xmjl .xmjl_content{
	width: 800px;
	height: 400px;
	margin: 30px auto;
	position: relative;
}

.xmjl_content span:hover{
	background-color:red;
	cursor: pointer;
}

.xmjl_content .xmjl_left{
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;	
	top: 50%;
	left:20px;
	margin-top: -25px;
	z-index:2;
	color:white;
	font-size: 40px;

}

.xmjl_content .xmjl_right{
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	top: 50%;
	right:20px;
	margin-top: -25px;
	z-index:2;
	color:white;
	font-size: 40px;

}

.xmjl_content .content_three{
	width: 100%;
	height: 100%;
	background-color:#007888;
	position: absolute;
}

.index{
	z-index:1;
}

.content_three ul {
	padding-top: 80px;
}

.content_three ul li{
	float: left;
	color:white;
	font-size:20px;
	margin-left: 110px;
}

.content_three p{
	font-size: 16px;
	padding-top: 100px;
}

.content_three .xm{
	width: 80%;
	color: white;
	margin: 30px auto;
	text-align:center;
	font-size: 16px;
}


.xyjl{
	width: 1000px;
	margin:50px auto;
	background-color:#00a5bb;
}

.xyjl>p{
	color: white;
	text-align: center;
	padding-top: 70px;
	font-size: 20px;
}

.xyjl .xyjl_content{
	width: 800px;
	height: 400px;
	margin: 30px auto;
	
}


.xyjl_content .content_four{
	width: 100%;
	height: 100%;
	background-color:#007888;
}



.content_four ul {
	padding-top: 80px;
}

.content_four ul li{
	float: left;
	color:white;
	font-size:20px;
	margin-left: 110px;
}

.content_four p{
	font-size: 16px;
	padding-top: 100px;
}

.content_four .xy{
	width: 80%;
	color: white;
	margin: 30px auto;
	text-align:center;
	font-size: 16px;
}

